<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/base.css">
  <title>Show</title>
</head>
<body>
  <main>
  <h1>Show Books!</h1>
  <ul>
    <% searchResults.forEach( (element) => { %>
      <li>
          <img src=" <%= element.image_url %> " alt=" <%= element.title %> picture not available">
          <h2> Title: <%= element.title %> </h2>
          <h3> Author: <%= element.author %></h3>
          <h4> ISBN: <%= element.isbn %></h4>
          <p> Description: <%= element.description %></p>
          <button type="submit">Select this book</button>
      </li>
   <% }) %>
  </ul>
  <section>
    <form action="" method="post">
      <input type="hidden" name="_method" value="put">
      <input type="text" name="title" value="<%= element.title %>" placeholder="<%= element.title %>">
      
      <input type="text" name="author" value="<%= element.author %>" placeholder="<%= element.author %>">
      <input type="text" name="isbn" value="<%= element.isbn %>"  placeholder="<%= element.isbn %>">
      <textarea name="description" placeholder="<%= element.description %>" cols="30" rows="10"><%= element.description %></textarea>
      <input type="text" name="bookshelf" value="<%= element.bookshelf %>" placeholder="<%= element.bookshelf %>">
      <button type="submit"> This Task</button>
    </form>
  </section>
</main>
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
</body>
</html>